
.box {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.gallery-img {
  width: 25%;
  height: 25%;
}

.common-font-15 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #081C3F;
}

.about-text {
   text-align: justify;
   margin-left: 20%;
 }

.about-text-mobile{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.offer-text{
  column-count: 2;
  column-gap: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
  height: 50%;
}

.offer-text-mobile{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.course{
  margin-left: 20%;
}

.course-mobile{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.page-header {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #081C3F;
}

.list-turn-to {
  font-weight: bold;
}

ul {list-style: none}
li::before {content: "\2589     "; color: #38A5DE}

.link-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #081C3F;
}

.link-text:hover {
 color: #38A5DE;
}

.contact-background{
  background-color: #071e40;
  text-align: center;
  color: white;
}

.contact-logo{
  margin-top: 5%;
  width: 30%;
  height: 30%;
}

.schedule {
  margin-left: 30%;
  width: 40%;
  height: 40%;
}

.schedule-mobile {
  margin-left: 5%;
  margin-right: 5%;
}

.schedule-card {
  width: 500px;
  text-align: center;
}

.schedule-card-mobile {
  width: 100%;
  text-align: center;
}

.schedule-dropdown {
  width: 500px;
}

.schedule-dropdown-mobile {
  width: 100%;
}

.schedule-card-logo {
  width: 20%;
  height: 20%;
}