.NavbarItems {
    background-color: #38A5DE;
    height: 115px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo{
    color: white;
    outline: 1px solid white;
    outline-offset: 15px;
    background-color: #38A5DE;
    margin-left: 20px;
    width: 20vw;
    text-align: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 30px;
    text-align: center;
    right: 50px;
    width: 80vw;
}

.nav-links {
    color: white;
    text-decoration: none;
    text-align: right;
}

.nav-links:hover {
    color: #081C3F;
    text-decoration: underline;
}

.nav-links:active {
    color: #081C3F;
    text-decoration: underline;
}

.fa-bars {
    color : white;
}

.nav-links-mobile {
    display : none;
}

.menu-icon {
    display : none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #38A5DE;
        left: 0;
        opacity: 0.8;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 17px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-links {
        text-align: center;
        text-color: green;
        width: 100%;
        height: 50%;
        display: table
    }

  .logo{
        outline: 1px solid white;
        outline-offset: 2px;
        background-color: #38A5DE;
        margin-left: 2px;
        width: 60vw;
        text-align: center;
        font-size: 20px;
    }
}

/*
outline-offset: 10px;
background-color: #38A5DE;
margin-left: 20px;
width: 20vw;
text-align: center;*/
